BOT_TOKEN=7055477749:AAGoM8Okq0nuW13C6jNJ9eyEb1Wr6gSnNsg
LOG_GROUP_ID=-1002360781908
MONGO_DB_URI=mongodb+srv://Sezar:alp@cluster0.gp7vh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7447500710
STRING_SESSION=
SUPPORT_CHANNEL=https://t.me/atesbocegibioo
SUPPORT_GROUP=https://t.me/DumanMuzikGr
START_IMG_URL=https://t.me/Dumancchannel/9
PING_IMG_URL=https://t.me/Dumancchannel/9
STATS_IMG_URL=https://t.me/Dumancchannel/9
